h1, h2, h3, h4 {
	font-family: "Arial", sans-seif;
}

p {
	/*background-color: rgb(32, 43, 0, 0);*/
}

h4 {
	font-size: 1.5em;
}

li {
	font-style: italic;
	font-weight: bold;
	font-size: 10px;
	font-family: sans-serif;
}

.project-list-items {
	background-color: red;
}

.skills-list-items {
	background-color: red;
}